.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    @include breakpoint-responsive("md") {
        height: 0vh;
        width: 100vw;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: $dark-blue;
        opacity: 0.9;
        visibility: hidden;
        overflow: hidden;
        transition: all .3s linear;
    }

    &__link {
        @include breakpoint-responsive("md") {
            font-size: 1.5rem;
        }
    }

    &__item {
        @include breakpoint-responsive("md") {
            margin: 1rem 0
        }
    }
}

.nav-main {
    display: flex;
    background-image: url("../assets/img/background.jpg");
    border-bottom: 1px solid $white;
    background-position: top center;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 70px;
}

// for java script to show and hide elements 
.hide {
    display: block;
}

.show {
    visibility: visible;
    height: 100vh;
}


// While navigating through the page, the section that is active in the viewport should be distinguished from the other sections, thanks to  add class activeBackground 

.activeBackground {
    color: $sunglow;
}

.activeSection {
    background-color: $bgc-section;
}